@model LinkedInApiDemo.Models.ProfileModel
@{
    ViewBag.Title = "Profile";
}
<h2>Education</h2>
@Model.FirstName @Model.LastName
<hr/>
@{
    foreach (var school in @Model.Educations.Schools)
    {
        <div>
            <div>
                School: @school.SchoolName
            </div>
            <div>
                Major: @school.FieldOfStudy
            </div>
            <div>
               Degree: @school.Degree
            </div>
        </div>
  
    }
}

